.margins {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
}

.font {
    font-family: Open Sans, sans-serif;
    font-size: .7500rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.bottom {
    position: relative;
    bottom: -50px;
    overflow: scroll;
}

.info-contacts {
    color: #908484;
    margin: auto;
    scroll-snap-align: center;
}

.hide-user { display: none; }

.colored {
    background-color: #ececec;
}

@media screen and (max-width: 600px)  {
    .reduced {
        width: 50px;
        margin-left: -10px;
    }
    .left-margin {
        margin-left: -10px;
    }
    .hide { display: none; }
    .active {
        background-color: #00d68f;
    }
}

@media screen and (min-width: 600px)  {
    .colored:hover {
        background-color: #d8c0c0;
        cursor: pointer;
    }
    .active {
        background-color: #00d68f;
    }
}