<nb-layout>
    <nb-layout-header fixed [ngClass]="'green font'">
        <div [ngClass]="'justify'">
            <span [ngClass]="{'small-correction': walletService.getWallet()}">CryptoWhatsApp</span>
            <span [ngClass]="'large-screen'" *ngIf="walletService.getWallet()">
                ({{walletService.balance}} ETH) {{walletService.address}}
            </span>
            <div [ngClass]="'dropdown'" [ngClass]="'small-screen'">
                <button 
                    nbButton
                    *ngIf="walletService.getWallet()"
                    (click)="showWalletInfo()">
                    Your wallet
                </button>
                <div [ngClass]="{'btn-large-screen': !dropDown, 'dropdown-content': true}">
                    <ul>{{walletService.address}}</ul>
                    <ul>{{walletService.balance + ' ETH'}}</ul>
                </div>
            </div>
        </div>
    </nb-layout-header>

    <nb-layout-column *ngIf="walletService.getWallet()">
        <app-conversation [ngClass]="{'conversation-mobile': walletService.chatComponent}"></app-conversation>
    </nb-layout-column>

    <nb-sidebar *ngIf="walletService.getWallet()" [ngClass]="{'device': walletService.conversationComponent}">
        <button nbButton status="primary" [ngClass]="'chat-button margin-chat'" (click)="walletService.showChats()">
            <nb-icon icon="person"></nb-icon>
        </button>
        <div [ngClass]="'btn-large-screen'">
            <button nbButton status="basic" (click)="logout()">
                <span>Logout</span>
                <nb-icon icon="close" status="danger"></nb-icon>
            </button>
        </div>
        <app-chats></app-chats>
        <div [ngClass]="{'down-margin': walletService.chatComponent, 'bottom': walletService.conversationComponent}">
            <button nbButton status="basic" (click)="logout()">
                <span [ngClass]="{'show-large': walletService.conversationComponent}">Logout</span>
                <nb-icon icon="close" status="danger"></nb-icon>
                <span [ngClass]="{'show-large': walletService.conversationComponent}"></span>
            </button>
        </div>
    </nb-sidebar>

    <nb-layout-column *ngIf="!walletService.getWallet()">
        <app-login></app-login>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <a href="https://github.com/reymom/CryptoWhatsApp"><nb-icon icon="github-outline"></nb-icon></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf="walletService.conversationComponent">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <a href="https://reymon.dev/">
            <img src="assets/reymon.png" [ngClass]="'icon'">
        </a>
    </nb-layout-footer>
</nb-layout>
