.margin-chat {
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    padding: 3px 20px 3px 0px;
    margin-right: 20px;
    width: 90%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content div {
    color: #8d8989;
    display: block;
}

ul {
    display: inline-block;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-size: .8250rem;
    line-height: 0.3rem;
}

.green {
    background-color: #cfeacf;
}

.grey {
    background-color: #f3f8fd;
}

.font {
    font-family: Open Sans, sans-serif;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.icon {
    height: 25px;
    width: 25px;
    display: block;
}

.justify {
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: space-between;
}

/* Mobile devices */
@media screen and (max-width: 600px)  {
    .small-screen {
        color: #BEBDBD;
    }
    .small-correction {
        padding-top: 7px;
    }
    .large-screen { display: none; }
    .show-large { display: none }
    .device {
        width: 70px;
    }
    .device button {
        margin-left: -5px;
        margin-right: 5px;
    }
    .conversation-mobile { display: none; }
    .down-margin {
        margin-top: 40px;
        padding-top: 40px;
        margin-bottom: 10px;
    }
    .bottom {
        position: absolute;
        bottom: 5px;
        margin-left: -10px;
    }
    .btn-large-screen { display: none }
}

/* Large screens */
@media screen and (min-width: 600px)  {
    .small-screen { display: none; }
    .large-screen { 
        color: #BEBDBD;
    }
    .btn-large-screen {
        margin-top: 5px;
        margin-bottom: 20px;
        text-align-last: center;
    }
    .chat-button { display: none; }
    .down-margin { display: none; }
    .bottom { display: none; }
}
